@model List<UsuarioModel> 

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir novo usuário</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #insertForm {
            display: flex;
            flex-direction: column;
            max-width: 600px;
        }

        .form-columns {
            display: flex;
            gap: 20px;
        }

        .form-column {
            flex: 1;
        }

        #enderecoModal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            display: none;
            z-index: 999;
        }

        #enderecoModal h2 {
            margin-top: 0;
        }

        #enderecoModal label {
            display: block;
            margin-bottom: 5px;
        }

        #enderecoModal input {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        #enderecoModal button {
            margin-right: 10px;
            padding: 5px 10px;
            border: none;
            background-color: #007BFF;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <form id="insertForm" action="/Home/Insert" method="post">
        <div id="insertForm">
            <div>
                <label for="tipo-pessoa">Tipo de pessoa:</label>
                <select id="tipo-pessoa" name="tipo-pessoa">
                    <option>Selecione</option>
                    <option value="fisica">Física</option>
                    <option value="juridica">Jurídica</option>
                </select>
            </div>
            <div class="form-columns">
                <div id="pessoa-fisica" style="display: none;" class="form-column">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="Nome">
                    <label for="cpf">CPF:</label>
                    <input type="number" id="cpf" name="CPF">
                </div>
                <div id="pessoa-juridica" style="display: none;" class="form-column">
                    <label for="razao-social">Razão Social:</label>
                    <input type="text" id="razao-social" name="RazaoSocial">
                    <label for="cnpj">CNPJ:</label>
                    <input type="number" id="cnpj" name="CNPJ">
                </div>
            </div>
            <div class="form-columns">
                <div class="form-column">
                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" name="Telefone">
                </div>
                <div class="form-column">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="Email">
                </div>
            </div>


      
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>

    <div>
        <button onclick="voltar()">Voltar</button>
    </div>




    <div>
       <div style="display: flex; align-items: center;">
            <h2>Endereços</h2>
            <button id="adicionar-endereco">Adicionar Endereço</button>
        </div>
        <table id="enderecos" style="width: 50%;">
            <thead>
                <tr>
                    <th>Endereço</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="enderecoModal" style="display: none;">
        <h2>Adicionar Endereço</h2>
            <label for="EndResidencial">Endereço:</label>
            <input type="text" id="EndResidencial" name="EndResidencial">
        <button id="salvarEndereco">Salvar</button>
        <button id="fecharModal">Fechar</button>
    </div>
    </form>


 

</body>
</html>


<script>
    $("#adicionar-endereco").on("click", function () {
        $("#enderecoModal").show();
    });

    $("#fecharModal").on("click", function () {
        $("#enderecoModal").hide();
    });

    $("#salvarEndereco").on("click", function (event) {
        event.preventDefault()
        const endereco = $("#EndResidencial").val();
        if (endereco.trim() !== "") {
            const newRow = $("<tr>");
            newRow.append($("<td>").text(endereco));
            newRow.append($('<td><button class="remover-endereco">X</button></td>'));
            $("#enderecos tbody").append(newRow);
            $("#enderecoModal").hide();
        }
    });

    $("form button:not([type='submit'])").on("click", function (event) {
        event.preventDefault();
    });
</script>

    <script>
        function voltar() {
            window.location.href = "/Home/Index";
        }

        $(document).ready(function () {
            $('#tipo-pessoa').on('change', function () {
                if ($(this).val() === 'fisica') {
                    $('#pessoa-fisica').show();
                    $('#pessoa-juridica').hide();
                } else if ($(this).val() === 'juridica') {
                    $('#pessoa-fisica').hide();
                    $('#pessoa-juridica').show();
                }
            });
        });
    </script>

