@model List<UsuarioModel> 

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir novo usuário</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #insertForm {
            display: flex;
            flex-direction: column;
            max-width: 600px;
        }

        .form-columns {
            display: flex;
            gap: 20px;
        }

        .form-column {
            flex: 1;
        }

        #enderecoModal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            display: none;
            z-index: 999;
        }

        #enderecoModal h2 {
            margin-top: 0;
        }

        #enderecoModal label {
            display: block;
            margin-bottom: 5px;
        }

        #enderecoModal input {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        #enderecoModal button {
            margin-right: 10px;
            padding: 5px 10px;
            border: none;
            background-color: #007BFF;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <form id="insertForm" action="/Home/Insert" method="post">
        <div id="insertForm">
            <div>
                <label for="tipo-pessoa">Tipo de pessoa:</label>
                <select id="tipo-pessoa" name="tipo-pessoa">
                    <option>Selecione</option>
                    <option value="fisica">Física</option>
                    <option value="juridica">Jurídica</option>
                </select>
            </div>
            <div class="form-columns">
                <div id="pessoa-fisica" style="display: none;" class="form-column">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="Nome" required>
                    <label for="cpf">CPF:</label>
                    <input type="number" id="cpf" name="CPF" required>
                </div>
                <div id="pessoa-juridica" style="display: none;" class="form-column">
                    <label for="razao-social">Razão Social:</label>
                    <input type="text" id="razao-social" name="RazaoSocial" required>
                    <label for="cnpj">CNPJ:</label>
                    <input type="number" id="cnpj" name="CNPJ" required>
                </div>
            </div>
            <div class="form-columns">
                <div class="form-column">
                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" name="Telefone" required>
                </div>
                <div class="form-column">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="Email">
                </div>
            </div>


      
        </div>
        <div>
            <button onclick="voltar()" style="margin-right: 10px;">Voltar</button>
            <button type="submit">Cadastrar</button>
        </div>



    <div>
            <div style="display: flex; align-items: center;">
                <h2 style="margin-right: 10px;">Endereços</h2>
                <button id="adicionar-endereco">Adicionar Endereço</button>
            </div>
        <table id="enderecos" style="width: 50%;">
            <thead>
                <tr>
                    <th>Endereço</th>
                    <th style="width: 50px;"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
        <div id="enderecoModal" style="display: none;">
            <h2>Adicionar Endereço</h2>
            <label for="tipo-endereco">Tipo de Endereço:</label>
            <select id="tipo-endereco">
                <option value="residencial">Residencial</option>
                <option value="comercial">Comercial</option>
            </select>
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="Endereco">
            <button id="salvarEndereco">Salvar</button>
            <button id="fecharModal">Fechar</button>
        </div>

    </form>


 

</body>
</html>


<script>

    function isValidCPF(cpf) {
        cpf = cpf.replace(/[^\d]+/g, '');

        if (cpf.length !== 11 || /^(\d)\1{10}$/.test(cpf)) {
            return false;
        }

        let sum = 0;
        for (let i = 0; i < 9; i++) {
            sum += parseInt(cpf.charAt(i)) * (10 - i);
        }

        let remainder = 11 - (sum % 11);
        if (remainder === 10 || remainder === 11) {
            remainder = 0;
        }

        if (remainder !== parseInt(cpf.charAt(9))) {
            return false;
        }

        sum = 0;
        for (let i = 0; i < 10; i++) {
            sum += parseInt(cpf.charAt(i)) * (11 - i);
        }

        remainder = 11 - (sum % 11);
        if (remainder === 10 || remainder === 11) {
            remainder = 0;
        }

        return remainder === parseInt(cpf.charAt(10));
    }

    function isValidCNPJ(cnpj) {
        cnpj = cnpj.replace(/[^\d]+/g, '');

        if (cnpj.length !== 14 || /^(\d)\1{13}$/.test(cnpj)) {
            return false;
        }

        let sum = 0;
        let factor = 5;
        for (let i = 0; i < 12; i++) {
            sum += parseInt(cnpj.charAt(i)) * factor;
            factor = factor === 2 ? 9 : factor - 1;
        }

        let remainder = sum % 11 < 2 ? 0 : 11 - (sum % 11);
        if (remainder !== parseInt(cnpj.charAt(12))) {
            return false;
        }

        sum = 0;
        factor = 6;
        for (let i = 0; i < 13; i++) {
            sum += parseInt(cnpj.charAt(i)) * factor;
            factor = factor === 2 ? 9 : factor - 1;
        }

        remainder = sum % 11 < 2 ? 0 : 11 - (sum % 11);
        return remainder === parseInt(cnpj.charAt(13));
    }
    $("#insertForm").on("submit", function (event) {
        const selectedTipoPessoa = $("#tipo-pessoa").val();
        if (selectedTipoPessoa === "fisica") {
            const cpfValue = $("#cpf").val();
            if (!isValidCPF(cpfValue)) {
                event.preventDefault();
                alert("CPF inválido!");
                return;
            }
        } else if (selectedTipoPessoa === "juridica") {
            const cnpjValue = $("#cnpj").val();
            if (!isValidCNPJ(cnpjValue)) {
                event.preventDefault();
                alert("CNPJ inválido!");
                return;
            }
        }

=    });
    $("#adicionar-endereco").on("click", function () {
        $("#enderecoModal").show();
    });

    $("#fecharModal").on("click", function () {
        $("#enderecoModal").hide();
    });

    $("#salvarEndereco").on("click", function (event) {
        event.preventDefault();
        const selectedTipoEndereco = $("#tipo-endereco").val();
        const endereco = $("#endereco").val();

        if (endereco.trim() !== "") {
            const newRow = $("<tr>");
            newRow.append($("<td>").text(selectedTipoEndereco === "comercial" ? "Comercial: " + endereco : "Residencial: " + endereco));
            newRow.append($('<td><button class="remover-endereco">X</button></td>'));
            $("#enderecos tbody").append(newRow);

            const hiddenInput = $("<input>").attr("type", "hidden").attr("name", "TipoEndereco").val(selectedTipoEndereco);
            newRow.append(hiddenInput);

            const enderecoInput = $("<input>").attr("type", "text").attr("id", "endereco").attr("name", selectedTipoEndereco === "comercial" ? "EndComercial" : "EndResidencial").val(endereco).attr("hidden", true);
            newRow.append(enderecoInput);

            $("#enderecoModal").hide();
        } else {
            alert("O endereço não pode estar vazio.");
        }
    });

    $(document).on("click", ".remover-endereco", function (event) {
        event.preventDefault();
        $(this).closest("tr").remove();
    });

    $("form button:not([type='submit'])").on("click", function (event) {
        event.preventDefault();
    });
</script>

<script>
    function voltar() {
        window.location.href = "/Home/Index";
    }

    $(document).ready(function () {
        $('#tipo-pessoa').on('change', function () {
            if ($(this).val() === 'fisica') {
                $('#pessoa-fisica').show();
                $('#pessoa-juridica').hide();

                $('#razao-social').removeAttr('required');
                $('#cnpj').removeAttr('required');
            } else if ($(this).val() === 'juridica') {
                $('#pessoa-fisica').hide();
                $('#pessoa-juridica').show();

                $('#nome').removeAttr('required');
                $('#cpf').removeAttr('required');
            }
        });
    });
</script>

